[submodule "openclaw"]
	path = openclaw
	url = https://github.com/potnoodledev/openclaw.git
	branch = affine-extension
[submodule "AFFiNE"]
	path = AFFiNE
	url = https://github.com/potnoodledev/AFFiNE.git
	branch = zed-collab-auth
[submodule "claude-code-free"]
	path = claude-code-free
	url = https://github.com/potnoodledev/claude-code-free.git
	branch = main
[submodule "nanoclaw"]
	path = nanoclaw
	url = https://github.com/qwibitai/nanoclaw.git
	branch = main
[submodule "open-terminal"]
	path = open-terminal
	url = https://github.com/open-webui/open-terminal.git
